html {
  font-size: 10px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

@property --mask {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}

$dark: #000;
$light: #fff;
$purple--900: #3d3f5a;
$purple--800: #474a5f;
$purple--700: #535771;
$purple--400: #bfb0f4;
$pink: #e290a7;
$gray: #d3d3d3;
$gray--700: #a9abad;

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  min-height: 100dvh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $purple--400;
  color: $light;
}

$icon-sizes: 18, 25, 30;

.icon {
  display: inline-block;
  aspect-ratio: 1;

  @each $s in $icon-sizes {
    &--#{$s} {
      width: #{$s}px;
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  padding-inline: 2rem;
  border: 0.2rem solid $light;
  color: $light;
  background-color: transparent;
  height: 4.8rem;
  min-width: 13.6rem;
  border-radius: 2.4rem;
  text-transform: uppercase;
  font-weight: 700;
  white-space: nowrap;
  transition: background-color, 250ms ease;

  @media (hover: hover) {
    cursor: pointer;

    &:hover {
      background-color: rgba($light, 0.1);
    }
  }
}

.app {
  width: 100%;
  max-width: 93rem;
  padding-inline: 4.4rem;
  background-color: $purple--700;
  border-radius: 0.4rem;
  overflow: hidden;

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    padding-top: 4.4rem;
    padding-bottom: 3.4rem;
  }

  &__header-title {
    font-size: 6.4rem;
    font-weight: 700;
    color: $pink;
  }

  &__header-title,
  &__header-subtitle {
    text-transform: uppercase;
  }

  &__header-subtitle {
    font-size: 1.8rem;
    font-weight: 600;
    color: $gray;
  }

  &__main {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 22rem;
    column-gap: 2rem;
    row-gap: 5rem;
    padding-bottom: 4.4rem;
    margin-bottom: 4rem;
    border-bottom: 0.1rem solid rgba($gray--700, 0.6);
  }

  &__inner {
    position: relative;
  }

  &__content {
    --mask: 50%;
    position: relative;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    background-color: $purple--800;
    padding-top: 2rem;
    padding-inline: 2rem;
    mask-image: linear-gradient(
      #000 var(--mask),
      transparent calc(var(--mask) + 25%)
    );
    transition: --mask 250ms ease;

    &--open {
      overflow-y: auto;
      --mask: 75%;
    }
  }

  &__content-title {
    font-size: 3.3rem;
    text-transform: capitalize;
    font-weight: 700;
  }

  &__content-subtitle {
    font-size: 2rem;
    color: $gray--700;
    padding-bottom: 1.5rem;
  }

  &__content-text {
    font-size: 1.6rem;
  }

  &__btn {
    position: absolute;
    inset-inline: 1rem;
    bottom: 0;
    border-color: $gray--700;
  }
}

.screen {
  position: relative;
  aspect-ratio: 4 / 3;
  border-image: fill 0 linear-gradient(#0003, #000);
  box-shadow: 0 3.5rem 2rem -2rem rgba($dark, 0.6);
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-image: fill 0 linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
    z-index: 1;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__btn {
    position: absolute;
    inset: 0;
    margin: auto;
    padding: 0;
    width: 7.2rem;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
    border: 0.1rem solid rgba($light, 0.7);
    color: $light;
    transition: background-color, 250ms ease;
    z-index: 2;

    @media (hover: hover) {
      cursor: pointer;

      &:hover {
        background-color: rgba($light, 0.1);
      }
    }
  }
}

.pagination {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;

  &__btn {
    width: 5rem;
    border: none;
    aspect-ratio: 1;
    padding: 0;
    background-color: transparent;
    color: $pink;

    @media (hover: hover) {
      cursor: pointer;
    }
  }

  &__dots {
    display: flex;
    align-items: center;
  }

  &__dot {
    position: relative;
    width: 2rem;
    aspect-ratio: 1;

    &::before {
      content: "";
      position: absolute;
      width: 1rem;
      scale: -0.5;
      aspect-ratio: 1;
      border-radius: 50%;
      inset: 0;
      margin: auto;
      background-color: $gray;
      transition-property: scale, background-color;
      transition-duration: 250ms;
      transition-timing-function: ease;
    }

    @media (hover: hover) {
      cursor: pointer;

      &:hover {
        &::before {
          background-color: $pink;
          scale: 1;
        }
      }
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 1rem;

  &__btn {
    font-family: inherit;
    background-color: transparent;
    border: none;
    position: relative;
    color: $gray--700;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0;
    padding-bottom: 0.5rem;
    overflow: hidden;
    transition: color 250ms ease;

    &::before {
      content: "";
      position: absolute;
      width: 60%;
      height: 0.2rem;
      background-color: transparent;
      left: 0;
      bottom: 0;
      translate: -100%;
      transition-property: background-color, translate;
      transition-duration: 250ms;
      transition-timing-function: ease;
    }

    &--active {
      color: $light;
      pointer-events: none;

      &::before {
        background-color: $pink;
        translate: 0;
      }
    }

    @media (hover: hover) {
      &:hover {
        cursor: pointer;
        color: $light;

        &::before {
          background-color: $pink;
          translate: 0;
        }
      }
    }
  }
}

.category {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  &__title {
    font-size: 2.8rem;
    color: $gray--700;
    font-weight: 700;
  }
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
  gap: 3rem;
  min-height: 8rem;
  background-color: $purple--900;
  margin-inline: -4.4rem;
  margin-top: -1rem;
  padding-inline: 4.4rem;
  box-shadow: 0 0 2rem 0 rgba($dark, 0.5);
  z-index: 1;

  &__nav {
    display: flex;
    overflow-x: auto;
  }

  &__btn {
    height: 8rem;
    aspect-ratio: 1;
    border: none;
    padding: 0;
    background-color: transparent;
    color: $light;
    transition: background-color 250ms ease;

    &--active {
      pointer-events: none;
      background-color: $purple--700;
    }

    @media (hover: hover) {
      cursor: pointer;

      &:hover {
        background-color: $purple--700;
      }
    }
  }
}

.search {
  background-color: transparent;
  outline: none;
  width: 25rem;
  height: 5rem;
  padding-inline: 3.5rem;
  border-radius: 2.5rem;
  border: 0.1rem solid $gray--700;
  color: $light;
}
